* {
  box-sizing: border-box;
}

.page {
  margin: 0 auto;
  padding: 50px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.product-list {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-list__item {
  font-size: 25px;
}
